In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({'_key1':['K0', 'K1', 'K2', 'K2'], 
                  '_key2': ['z0', 'z1', 'z2', 'z3'],
                  'city':['city_0', 'city_1', 'city_2', 'city_3'],
                  'user_name': ['user_0', 'user_1', 'user_2', 'user_3']})
df

  _key1 _key2    city user_name
0    K0    z0  city_0    user_0
1    K1    z1  city_1    user_1
2    K2    z2  city_2    user_2
3    K2    z3  city_3    user_3

In [8]:
df['city'].str.contains('2')

0    False
1    False
2     True
3    False
Name: city, dtype: bool

In [17]:
df['city'].str.split('_')

0    [city, 0]
1    [city, 1]
2    [city, 2]
3    [city, 3]
Name: city, dtype: object

In [25]:
df['city'].str.extract('([a-z]\w{0,})', expand=False)

0    city_0
1    city_1
2    city_2
3    city_3
Name: city, dtype: object

In [29]:
df['city'].str.extract('(\d)',expand=False)

0    0
1    1
2    2
3    3
Name: city, dtype: object

In [30]:
movies = pd.read_csv('./movielens/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [37]:
movie_genres = movies['genres'].str.split('|', expand = True)

In [38]:
movie_genres.head()

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None

In [40]:
movie_genres['isComedy'] = movies['genres'].str.contains('Comedy')

In [41]:
movie_genres.head()

,0,1,2,3,4,5,6,7,8,9,isComedy
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None,True
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None,False
2,Comedy,Romance,None,None,None,None,None,None,None,None,True
3,Comedy,Drama,Romance,None,None,None,None,None,None,None,True
4,Comedy,None,None,None,None,None,None,None,None,None,True

In [61]:
movies['year'] = movies['title'].str.extract('.*\((.*)\).*',expand = True)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995